@charset "UTF-8";
 select                   {background:#eee; border:1px solid #999; padding:0px; background:url(inputbg.gif) repeat-x left top #d8d8d8;
}input.text               {background:#eee; border:1px solid #999; padding:1px; background:url(inputbg.gif) repeat-x left top #d8d8d8;
}textarea                 {background:#eee; border:1px solid #999; padding:1px; background:url(inputbg.gif) repeat-x left top #d8d8d8;
}input.password           {background:#eee; border:1px solid #999; padding:1px; background:url(inputbg.gif) repeat-x left top #d8d8d8;
}input.submit             {border:1px outset #999; padding:1px 20px; font-size:80%; font-weight:bold; cursor:pointer;
                           background:url(submitbg.gif) repeat-x left 20% #eee; color:#444;
}input:hover.submit       {border:1px inset #999;
                           background:url(submitbg.gif) repeat-x left 0% #fff;
}input:active.submit      {color:#000; padding:2px 19px 0px 21px; border:1px inset #999;
}.GBFORM                  {
}.GBFORM .OK              {padding:2px; margin:0px;
}.GBFORM .OKNOK           {padding:2px; margin:0px;
}.GBFORM .NOK             {border:2px solid #f00; padding:0px; margin:0px;
}.GBFORM .NOK .ERROR      {color:#f00;
}.GBFORM .PRE             {
}.GBFORM .POST            {font-style:italic; font-size:90%;
}.GBFORM_SPAN_OK          {display:inline; padding:2px; margin:0px;
}.GBFORM_SPAN_NOK         {display:inline; border:2px solid #f00; padding:0px; margin:0px;
}.GBFORM_SPAN_ERROR       {display:inline; color:#f00;
}

.inputcomment {
    margin:10px 0;
}
.inputcomment2 {
    width: 400px;
}

body {
    margin:0;
}
p, blockquote, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}
ul {
    padding-left: 1.7em;
}
.main {
    width:1100px;    
}
.mainmap {
    float:left;
}
.rightpane {
    float:left;
    margin-left:10px;
    width:510px;
}
.map {
    border-collapse: collapse;
    border: none;
}
/* .map span .tile used by table caption. There is another rule to add the background image.
   The overlay map also match ".map td", but it should not have background-image set, because, we use <td background='000'>
 */
.map td, #palette td, .map span.tile {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: white;
    font-size: x-small;
}
.mainmap .map td, #palette td, .map span.tile {
    background-image:url(tiles.png);
}
.map span.tile {
    display:inline-block;
}
.map td img, #map td a {
    border: none;
}

#leveloverview h3 span.editsection {
    display:none;
}

img {
    border:0;
}
.tile-0  { background-position:    0px   0px; }
.tile-1  { background-position:  -16px   0px; }
.tile-2  { background-position:  -32px   0px; }
.tile-3  { background-position:  -48px   0px; }
.tile-4  { background-position:  -64px   0px; }
.tile-5  { background-position:  -80px   0px; }
.tile-6  { background-position:  -96px   0px; }
.tile-7  { background-position: -112px   0px; }
.tile-8  { background-position: -128px   0px; }
.tile-9  { background-position: -144px   0px; }
.tile-10 { background-position: -160px   0px; }
.tile-11 { background-position: -176px   0px; }
.tile-12 { background-position: -192px   0px; }
.tile-100{ background-position:    0px -16px; }
.tile-101{ background-position:  -16px -16px; }
.tile-102{ background-position:  -32px -16px; }
.tile-103{ background-position:  -48px -16px; }
.tile-104{ background-position:  -64px -16px; }
.tile-105{ background-position:  -80px -16px; }
.tile-106{ background-position:  -96px -16px; }
.tile-107{ background-position: -112px -16px; }
.tile-108{ background-position: -128px -16px; }
.tile-109{ background-position: -144px -16px; }
.tile-110{ background-position: -160px -16px; }
.tile-111{ background-position: -176px -16px; }
.tile-112{ background-position: -192px -16px; }

#overlaymap {
    position:absolute;
    opacity:.75;
    filter:alpha(opacity=75);
}

.authtarget{
    border:1px solid #000;
    margin:5px;
    padding:3px;
    background:#eee;
    float:left;
}
#hover-boxes div {
    border: 1px solid black;
    background: yellow;
    color: black;
    padding: 0.5em;
    position: absolute;
    display: none;
}
.clear{
    clear:both;
}
span.dmzone {
    border-bottom:1px dashed #555;
    display:inline-block;
}
