@charset "UTF-8";
select, input.text, textarea, input.password {
    background: #d8d8d8 url(data:image/gif;base64,R0lGODlhBgAuAPQAANjY2NnZ2dra2tvb29zc3N3d3d7e3t/f3+Dg4OHh4eLi4uPj4+Tk5OXl5ebm5ufn5+jo6Onp6erq6uvr6+zs7O7u7u/v7/Hx8fPz8/X19fb29vj4+Pr6+vv7+/39/f///yH5BAAAAAAALAAAAAAGAC4AAAVn4CeO5Ldt5pmiZ9tqsLbF9GXb2n1Z1s7/QMtkIhwaj8jhw7icPJZNp/NJhT6n1Wx18eRyH16wdxEWk89o8iGtXqwP77fbHYfb7/j84D7Y+/0Hf319gYWDhwB9iYcDiQCPjZCPk5QAIQA7) repeat-x left top;
}
input.submit {
    background-image:url(data:image/gif;base64,R0lGODlhBgAuAPQAAMnJycvLy8zMzM3Nzc/Pz9DQ0NHR0dPT09TU1NXV1dfX19jY2NnZ2dvb29zc3N3d3d/f3+Dg4OLi4uPj4+Tk5Ofn5+jo6Ovr6+7u7vHx8fLy8vX19fj4+Pn5+fz8/P///yH5BAAAAAAALAAAAAAGAC4AAAVs4CeOndiVZ3pybMtlbSbP2CxjOH7t/F79wAuwIin+ihIiUqlEFiEQCXRKrVqpDWgWkm14v9yveNxQlL1mtGLNbrvZB0VcTj/E7Xe8fn8g4P19gX0EhIOFhIiJigQAiACNj42Mko+ElZCRmY8hADs=);
}
 select                   {border:1px solid #999; padding:0px;
}input.text               {border:1px solid #999; padding:1px;
}textarea                 {border:1px solid #999; padding:1px;
}input.password           {border:1px solid #999; padding:1px;
}input.submit             {border:1px outset #999; padding:1px 20px; font-size:80%; font-weight:bold; cursor:pointer;
                           background-color:#eee; background-repeat:repeat-x; background-position:left 20%; color:#444;
}input:hover.submit       {border:1px inset #999;
                           background-color:#fff; background-repeat:repeat-x; background-position:left 0%;
}input:active.submit      {color:#000; padding:2px 19px 0px 21px; border:1px inset #999;
}.GBFORM                  {
}.GBFORM .OK              {padding:2px; margin:0px;
}.GBFORM .OKNOK           {padding:2px; margin:0px;
}.GBFORM .NOK             {border:2px solid #f00; padding:0px; margin:0px;
}.GBFORM .NOK .ERROR      {color:#f00;
}.GBFORM .PRE             {
}.GBFORM .POST            {font-style:italic; font-size:90%;
}.GBFORM_SPAN_OK          {display:inline; padding:2px; margin:0px;
}.GBFORM_SPAN_NOK         {display:inline; border:2px solid #f00; padding:0px; margin:0px;
}.GBFORM_SPAN_ERROR       {display:inline; color:#f00;
}

.inputcomment {
    margin:10px 0;
}
.inputcomment2 {
    width: 400px;
}

body {
    margin:0;
}
p, blockquote, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 5px 0;
}
ul {
    padding-left: 1.7em;
}
.main {
    width:1100px;    
}
.mainmap {
    float:left;
}
.rightpane {
    float:left;
    margin-left:10px;
    width:510px;
}
.map {
    border-collapse: collapse;
    border: none;
}
/* .map span .tile used by table caption. There is another rule to add the background image.
   The overlay map also match ".map td", but it should not have background-image set, because, we use <td background='000'>
 */
.map td, #palette td, .map span.tile {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    text-align: center;
    color: white;
    font-size: small;
    max-width:16px;
    max-height:16px;
    overflow:hidden;
    line-height:5pt;
    /* prevent selection IE<8 has its own tag attribute (unselectable=”on”) */
    -moz-user-select:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
}
.mainmap .map td, #palette td, .map span.tile {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANAAAAAgBAMAAACRGOteAAAAIVBMVEX8/vwEAgSEgoQE/oSEgkT8/gTEwsQE/vz8AgT/AAAAAAA0xoflAAAACXBIWXMAAABIAAAASABGyWs+AAAB+ElEQVRIx72VsW7CMBCGnQpFGXNCTRirvgHK0pEhL9ABqWMywcqSrEGV0L0CI2/anOMDXxyo3QL/wHEY/MXH7zsVgVb68q71liqtaBznhdYyVbOyXNnrMuf9OL6utT4VGL0bKVd6k8JIDRtbkjlkba8aIKOshrXRLRCAFS8gVZbyQUQOsGnbhnaslIohBNQXIfUHZXSkGuqMjtTHABCtEmgJMNeg2UqCRJ7XsGkg26U1VDFkkT9I/6spgYrCAplTlOM87yk9a5fGFKsA0LDsgkpZNc5zbYR2lyptCH8Q29QFDbqASv2SkxM2BIrJD7+DGHBx3YNAXDILJMxwv9JFfCDnHt3bDHygadAd7R2ZA4V1huHCZubCZiEX9vEtiDuy1r+b6tPGRDgoQezsdZn7zCPE6XmUdKJ0emN7WeS35tHxKEGIw29EtMzAn7NE7prhC9EPNDyxL8idR94gRHpTFB+I3xqUdBIk8rxebJo9XdhFFe/pwvqCEgJ1Doi/M87zBg9bpBZEsQoAoZYLQlk1zvN2i3igpkpR+YOSAdS5IPMEZxDql35MIA5jArHyADHg4rr7gbgFiZJdB4WXbrrXJXwg5x4FmsFuqqepznAuzCTour1hZG+7M5ymzHBuLUGdwZ1H9n90ek4L4tKN55Eoyd+bqgE9a0z8AGVizgZ3a/0sAAAAAElFTkSuQmCC);
}
.map span.tile {
    display:inline-block;
}
.map td img, #map td a {
    border: none;
}

#leveloverview h3 span.editsection {
    display:none;
}

img {
    border:0;
}
.tile-0  { background-position:    0px   0px; }
.tile-1  { background-position:  -16px   0px; }
.tile-2  { background-position:  -32px   0px; }
.tile-3  { background-position:  -48px   0px; }
.tile-4  { background-position:  -64px   0px; }
.tile-5  { background-position:  -80px   0px; }
.tile-6  { background-position:  -96px   0px; }
.tile-7  { background-position: -112px   0px; }
.tile-8  { background-position: -128px   0px; }
.tile-9  { background-position: -144px   0px; }
.tile-10 { background-position: -160px   0px; }
.tile-11 { background-position: -176px   0px; }
.tile-12 { background-position: -192px   0px; }
.tile-100{ background-position:    0px -16px; }
.tile-101{ background-position:  -16px -16px; }
.tile-102{ background-position:  -32px -16px; }
.tile-103{ background-position:  -48px -16px; }
.tile-104{ background-position:  -64px -16px; }
.tile-105{ background-position:  -80px -16px; }
.tile-106{ background-position:  -96px -16px; }
.tile-107{ background-position: -112px -16px; }
.tile-108{ background-position: -128px -16px; }
.tile-109{ background-position: -144px -16px; }
.tile-110{ background-position: -160px -16px; }
.tile-111{ background-position: -176px -16px; }
.tile-112{ background-position: -192px -16px; }

#overlaymap {
    position:absolute;
    opacity:.75;
}

.authtarget{
    border:1px solid #000;
    margin:5px;
    padding:3px;
    background:#eee;
    float:left;
}
#hover-boxes div {
    border: 1px solid black;
    background: yellow;
    color: black;
    padding: 0.5em;
    position: absolute;
    display: none;
}
.clear{
    clear:both;
}
span.dmzone {
    border-bottom:1px dashed #555;
    display:inline-block;
}
